#h1{
    color:blue;
}
.img{
    height: 200px;
    width: 300px;
    
}
html{
    text-align: center;
}
.head{
    color:crimson;
}
.line{
    height: 10px;
    width: 80px;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
}
#myCarousel{
    background-color: aqua;
}

#myCarousel img{
    height: 200px;
    width: 300px;
    margin-top: 35px;
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}